<div class="card shadow">
    <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-12">
            <p-table #dt [value]="facturas" selectionMode="single" [(selection)]="selectedFactura" styleClass="ui-table-customers"
            dataKey="id_factura" [loading]="loading" [totalRecords]="totalFacturas" [rows]="rowsNumber" [paginator]="true"
            [responsive]="true" autoLayout="true" [globalFilterFields]="['cliente.razsoc_cli']">
                <ng-template pTemplate="caption">
                    <div class="row justify-content-center align-items-center">
                        <div class="ui-g-12 ui-md-4">
                            <label class="mx-2">Facturas - Total: {{ totalFacturas }}</label>
                        </div>
                        <div class="ui-g-12 ui-md-4">
                            
                        </div>
                        <div class="ui-g-12 ui-md-4"  style="text-align: right">
                            <input type="text" pInputText placeholder="Busqueda" (input)="dt.filterGlobal($event.target.value, 'contains')">
                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>Codigo Factura</th>
                        <th>Fecha Factura</th>                                
                        <!-- <th>Usuario</th>
                        <th>Empresa</th> -->
                        <th>Cliente</th>
                        <th class="text-center">Estado Envio</th>                                
                        <!-- <th>Estado Deuda</th> -->
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-factura>
                    <tr [pSelectableRow]="factura">
                        <td style="width:10em">{{ factura.serie + '-' + factura.correlativo.toString().padStart(4, '0000') }}</td>                              
                        <td style="width:10em">{{ factura.fechaEmision | date: 'yyyy-MM-dd' }}</td>                      
                        <td>{{ (factura.cliente) ? factura.cliente.razsoc_cli : ''}}</td>
                        <td style="width:10em" class="text-center" [ngClass]="{'send': +factura.est_env === 0, 'nosend': +factura.est_env === 1}">
                            {{ (+factura.est_env === 0 ) ? 'Aceptada' : (+factura.est_env === 1 ) ? 'Rechazada' : (+factura.est_env === 2 ) ? 'Pendiente' : ''}}</td>
                        <!-- <td>Pagada</td> -->
                        <!-- <td>{{ (orden.proveedor) ? orden.proveedor.razsoc_prov : ''}}</td>
                        <td>{{ orden.ord_com_prov_con }}</td>
                        <td>{{ orden.ord_com_prov_dir }}</td>
                        <td [ngClass]="{'send': orden.est_env === 1, 'nosend': orden.est_env === 0}">
                            <span _ngcontent-qmg-c2="" class="ui-column-title">Envío:</span>
                            {{ (orden.est_env === 1) ? 'Enviado' : 'No Enviado'}}</td> -->
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <div class="ui-g-12" *ngIf="showbar">
            <p-progressBar mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
        </div>
        <!-- <div class="ui-g-12 ui-md-4 ui-lg-2">
            <button pButton type="button" label="Crear" class="ui-button-raised ui-button-icon ui-button-success"
                icon="pi pi-plus" (click)="crear()">
            </button>
        </div> -->
        <div class="ui-g-12 ui-md-4 ui-lg-2">
            <button pButton type="button" label="Enviar (SUNAT)" class="ui-button-raised ui-button-icon ui-button-success"
                icon="pi pi-directions" (click)="envioSunat()"></button>
        </div>
        <!-- <div class="ui-g-12 ui-md-4 ui-lg-2">
            <button pButton type="button" label="Anular" class="ui-button-raised ui-button-icon ui-button-danger"
                icon="pi pi-times" (click)="anular()"></button>
        </div>  -->
        <div class="ui-g-12 ui-md-4 ui-lg-3">
            <button pButton type="button" label="Generar PDF" class="ui-button-raised ui-button-icon"
                icon="pi pi-file-pdf" (click)="generarPdf()" [disabled]="loadingPdf"></button>
        </div>              
    </div>
</div>

<p-confirmDialog [style]="{width: '50vw'}" position="top" key="anularOrden" acceptLabel="Si" rejectLabel="No" baseZIndex="10001"></p-confirmDialog>