// :host ::ng-deep .ui-table .ui-table-caption {
//     background-color: #355275;
//     border-top: 2px solid #355275;
//     border-right: 2px solid #355275;
//     border-left: 2px solid #355275;
//     color: #ffffff;
//     text-align: left;
// }
:host ::ng-deep .ui-table .ui-table-caption {
    text-align: left;
}

.actions {
    text-align: center;
}


:host ::ng-deep .ui-dropdown {
    word-wrap: break-word;
} 

.rojo {
    background-color:#FF8686 !important;
    color: black !important;
}

.verde {
    background-color: #7EDF6D !important;
    color: black !important;
}

.readonly {
    background-color:#EBEBEB !important;
}

.readonly-det {
    background-color: #323232 !important;
    color:#1FDA1A;
    font-weight: bold;
}
