<div class="card shadow">
    <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-12">
            <p-accordion>
                <p-accordionTab header="Marcas" >
                    <app-marca></app-marca>
                </p-accordionTab>
                <p-accordionTab header="Modelos">
                    <app-modelo></app-modelo>
                </p-accordionTab>
                <p-accordionTab header="Fabricantes">
                    <app-fabricante></app-fabricante>
                </p-accordionTab>
                <p-accordionTab header="Unidades de Medida">
                    <app-unidad-medida></app-unidad-medida>
                </p-accordionTab>
                <p-accordionTab header="Cargos">
                    <app-cargo></app-cargo>
                </p-accordionTab>
                <p-accordionTab header="Tipos de Documento">
                    <app-tipo-documento></app-tipo-documento>
                </p-accordionTab>
                <p-accordionTab header="Seccion">
                    <app-seccion></app-seccion>
                </p-accordionTab>
                <p-accordionTab header="Transporte">
                    <app-transporte></app-transporte>
                </p-accordionTab>
            </p-accordion>
        </div>
    </div>
</div>