<div class="card shadow">
    <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-12">
            <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 0px 0px">
                <div class="ui-grid-row mb-0">
                    <div class="ui-grid-col-4">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-12 px-1 pb-1">
                                <img *ngIf="!mySrc" src="assets/images/default-logo.jpg" width="100%" class="border" />
                                <img *ngIf="mySrc" [src]="mySrc" width="100%" class="border" />
                            </div>
                        </div>
                        <div  *ngIf="editForm" class="ui-grid-row">
                            <div class="ui-grid-col-12 px-1">
                                <span class="ui-fileupload-choose ui-button-raised ui-button-icon ui-button-success" label="Seleccionar Imagen" icon="pi pi-upload" pButton>
                                    <input type="file" accept=".png, .jpg, .jpeg" (change)="handleFiles($event)"/>
                                </span>
                                <div *ngIf="logo" class="ui-grid-row">
                                    <div class="ui-grid-col-12 px-1">
                                        <label> Nombre de Archivo:</label>
                                    </div>
                                </div>
                                <div *ngIf="logo" class="ui-grid-row">
                                    <div class="ui-grid-col-10 px-1">
                                        <p><strong>{{logo.name }} </strong></p> 
                                    </div>
                                    <div class="ui-grid-col-2 px-1">
                                        <button *ngIf="logo" pButton type="button" icon="pi pi-times" (click)="removeFile()" class="ui-button-danger"></button>   
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui-grid-col-8 ">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-6 px-1">
                                <label>Tipo Documento:</label>
                                <p *ngIf="!editForm && selectedTipdoc"><strong>{{ selectedTipdoc.des_tipdoc }}</strong></p>
                                <p-dropdown *ngIf="editForm"
                                    [options]="tipdocs"
                                    [(ngModel)]="selectedTipdoc" 
                                    filter="true"
                                    optionLabel="des_tipdoc"
                                    placeholder="Seleccione"
                                    showClear="true"
                                ></p-dropdown>
                            </div>
                            <div class="ui-grid-col-6 px-1">
                                <label>Numero Documento:</label>
                                <p *ngIf="!editForm"><strong> {{ numdoc_emp }} </strong></p>
                                <!-- <p-inputMask *ngIf="editForm" [(ngModel)]="numdoc_emp" mask="99999999999"></p-inputMask> -->
                                <input pInputText type="tex1t" *ngIf="editForm" [(ngModel)]="numdoc_emp" class="ng-dirty ng-invalid" maxlength="11" pKeyFilter="int"/>
                            </div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-12 px-1">
                                <label>Razon Social:</label>
                                <p *ngIf="!editForm"><strong>{{ nom_emp }} </strong></p>
                                <input pInputText type="tex1t" *ngIf="editForm" [(ngModel)]="nom_emp" class="ng-dirty ng-invalid"/>
                            </div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-6 px-1">
                                <label>Direccion:</label>
                                <p *ngIf="!editForm"><strong>{{ dir_emp }} </strong></p>
                                <input pInputText type="tex1t" *ngIf="editForm" [(ngModel)]="dir_emp" class="ng-dirty ng-invalid"/>
                            </div>
                            <div class="ui-grid-col-6 px-1">
                                <label>Distrito:</label>
                                <p *ngIf="!editForm"><strong>{{ dis_emp }} </strong></p>
                                <input pInputText type="tex1t" *ngIf="editForm" [(ngModel)]="dis_emp" class="ng-dirty ng-invalid"/>
                            </div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-6 px-1">
                                <label>Ciudad:</label>
                                <p *ngIf="!editForm"><strong>{{ ciu_emp }}</strong></p>
                                <input pInputText type="tex1t" *ngIf="editForm" [(ngModel)]="ciu_emp" class="ng-dirty ng-invalid"/>
                            </div>
                            <div class="ui-grid-col-6 px-1">
                                <label>Codigo:</label>
                                <p *ngIf="!editForm"><strong>{{ codciu_emp }} </strong></p>
                                <input pInputText type="tex1t" *ngIf="editForm" [(ngModel)]="codciu_emp" class="ng-dirty ng-invalid" maxlength="10" />
                            </div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-6 px-1">
                                <label>Telefono:</label>
                                <p *ngIf="!editForm"><strong>{{ tel_emp }}</strong></p>
                                <input pInputText type="tex1t" *ngIf="editForm" [(ngModel)]="tel_emp" class="ng-dirty ng-invalid" maxlength="9" pKeyFilter="int"/>
                            </div>
                            <div class="ui-grid-col-6 px-1">
                                <label>Celular:</label>
                                <p *ngIf="!editForm"><strong>{{ cel_emp }} </strong></p>
                                <input pInputText type="tex1t" *ngIf="editForm" [(ngModel)]="cel_emp" class="ng-dirty ng-invalid" maxlength="9" pKeyFilter="int"/>
                            </div>
                        </div>
                        <div class="ui-grid-row pt-3">
                            <div class="ui-grid-col-6 px-1">
                                <button type="button" pButton *ngIf="editForm" icon="pi pi-save" label="Guardar" class="ui-button-raised ui-button-icon ui-button-primary" (click)="onSubmit()"></button>
                            </div>
                            <div class="ui-grid-col-6 px-1">
                                <button type="button" pButton *ngIf="!editForm && showButton" icon="pi pi-pencil" label="Editar" class="ui-button-raised ui-button-icon ui-button-warning" (click)="editar()"></button>
                                <button type="button" pButton *ngIf="editForm" icon="pi pi-times" label="Cancelar" class="ui-button-raised ui-button-icon ui-button-danger" (click)="cancelar()"></button>
                            </div>
                        </div>
                    </div>
                </div>
                <p-progressBar mode="indeterminate" [style]="{'height': '6px'}" *ngIf="showbar"></p-progressBar>
                <br>
            </div>
        </div>
    </div>
</div>