<div class="card shadow">
    <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-12">
            <p-table #dt [value]="modelos" selectionMode="single" [(selection)]="selectedModelo"
            dataKey="id_mod" [loading]="loading" [totalRecords]="totalRegistrosModelo" [rows]="10" [paginator]="true"
            [responsive]="true" autoLayout="true" [globalFilterFields]="['id_mod','des_mod']">
                <ng-template pTemplate="caption">
                    <div class="row justify-content-center align-items-center">
                        <div class="ui-g-12 ui-md-4 text-left">
                            <label class="mx-2">Modelos - Total: {{totalRegistrosModelo}}</label>
                        </div>
                        <div class="ui-g-12 ui-md-4">
                            
                        </div>
                        <div class="ui-g-12 ui-md-4"  style="text-align: right">
                            <input type="text" pInputText placeholder="Busqueda por id o descripcion" (input)="dt.filterGlobal($event.target.value, 'contains')">
                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="header" >
                    <tr>
                        <th>ID</th>
                        <th>Descripcion</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-modelo>
                    <tr [pSelectableRow]="modelo">
                        <td><strong> <span _ngcontent-qmg-c2="" class="ui-column-title">ID</span> {{ modelo.id_mod }} </strong></td>
                        <td> <span _ngcontent-qmg-c2="" class="ui-column-title">Descripción</span> {{ modelo.des_mod }}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <div class="ui-g-12 ui-md-4 ui-lg-2">
            <button pButton type="button" label="Crear" class="ui-button-raised ui-button-icon ui-button-success"
                        icon="pi pi-plus" (click)="newModelo()">
                    </button>
        </div>
        <div class="ui-g-12 ui-md-4 ui-lg-2">
            <button pButton type="button" label="Modificar" class="ui-button-raised ui-button-icon ui-button-warning"
                        icon="pi pi-pencil" (click)="editModelo()"></button>
        </div>
        <div class="ui-g-12 ui-md-4 ui-lg-2">
            <button pButton type="button" label="Eliminar" class="ui-button-raised ui-button-icon ui-button-danger"
                        icon="pi pi-trash" (click)="deleteModelo()"></button>
        </div>
    </div>
</div>

<p-confirmDialog [style]="{width: '50vw'}" position="top" key="deleteModelo" acceptLabel="Si" rejectLabel="No"  class="fixed-top"></p-confirmDialog>

<p-dialog [header]="titlePanelModelo" [(visible)]="displayFormModelo" [modal]="true"
	[style]="{minWidth: '40%', minHeight: '60px', 'max-height': '60vh'}"
	[contentStyle]="{'overflow-y': 'auto', 'overflow-x': 'hidden', 'max-height': '40vh','min-height':'100px'}"
	[baseZIndex]="1000" [draggable]="false" [resizable]="true" (onHide)="cancelModelo()">
	<!--Body-->
    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
        <div class="ui-grid-row">
            <div class="ui-grid-col-1"></div>
            <div class="ui-grid-col-10">
                <label for="id_mar">Descripcion: *</label>
                <input pInputText type="text" [(ngModel)]="des_mod" placeholder="Requerido" class="ng-dirty ng-invalid"/>
                <p-message severity="error" text="Descripcion es requerido"
                    *ngIf="submittedModelo && !validModelo">
                </p-message>
            </div>
            <div class="ui-grid-col-1"></div>
        </div>
    </div>
	<!--End Body-->
	<p-progressBar mode="indeterminate" [style]="{'height': '6px'}" *ngIf="showbar"></p-progressBar>
	<p-footer>
		
		<button pButton type="submit" icon="pi pi-save" [label]="submitLabelModelo" (click)="submitModelo()"></button>
		<button pButton class="ui-button-danger" icon="pi pi-times" label="Cancelar" (click)="cancelModelo()"></button>
	</p-footer>
</p-dialog>