<div class="card shadow">
    <p-tabView>
        <p-tabPanel header="Ordenes de Compra Activas" leftIcon="pi pi-check">
            <div class="ui-g ui-fluid">
                <div class="ui-g-12 ui-md-12">
                    <p-table #dt [value]="ordenesActivas" selectionMode="single" [(selection)]="selectedOrdenActiva" styleClass="ui-table-customers"
                    dataKey="id_ord_com" [loading]="loadingActivas" [totalRecords]="totalActivas" [rows]="rowsNumber" [paginator]="true"
                    [responsive]="true" autoLayout="true" [globalFilterFields]="['ord_com_cod','ord_com_fec','usuario.nom_col','proveedor.razsoc_prov','ord_com_prov_con','ord_com_prov_dir']">
                        <ng-template pTemplate="caption">
                            <div class="row justify-content-center align-items-center">
                                <div class="ui-g-12 ui-md-4">
                                    <label class="mx-2">Ordenes de Compra Activas - Total: {{ totalActivas }}</label>
                                </div>
                                <div class="ui-g-12 ui-md-4">
                                    
                                </div>
                                <div class="ui-g-12 ui-md-4"  style="text-align: right">
                                    <input type="text" pInputText placeholder="Busqueda" (input)="dt.filterGlobal($event.target.value, 'contains')">
                                </div>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Codigo</th>
                                <th>Fecha</th>                                
                                <th>Usuario</th>
                                <th>Proveedor</th>
                                <th>Contacto</th>
                                <th>Direccion</th>                                
                                <th>Estado</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-orden>
                            <tr [pSelectableRow]="orden">
                                <td style="width:10em">{{ orden.ord_com_cod }}</td>                              
                                <td style="width:8em">{{ orden.ord_com_fec | date: 'yyyy-MM-dd' }}</td>                      
                                <td>{{ (orden.usuario) ? orden.usuario.nom_col : ''}}</td>
                                <td>{{ (orden.proveedor) ? orden.proveedor.razsoc_prov : ''}}</td>
                                <td>{{ orden.ord_com_prov_con }}</td>
                                <td>{{ orden.ord_com_prov_dir }}</td>
                                <td [ngClass]="{'send': orden.est_env === 1, 'nosend': orden.est_env === 0}">
                                    <span _ngcontent-qmg-c2="" class="ui-column-title">Envío:</span>
                                    {{ (orden.est_env === 1) ? 'Enviado' : 'No Enviado'}}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
                <div class="ui-g-12" *ngIf="showbar">
                    <p-progressBar mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
                </div>
                <!-- <div class="ui-g-12 ui-md-4 ui-lg-2">
                    <button pButton type="button" label="Crear" class="ui-button-raised ui-button-icon ui-button-success"
                        icon="pi pi-plus" (click)="crear()">
                    </button>
                </div> -->
                <div class="ui-g-12 ui-md-4 ui-lg-3">
                    <button pButton type="button" label="Generar PDF" class="ui-button-raised ui-button-icon"
                        icon="pi pi-file-pdf" (click)="generarPdfOrdenActiva(1)" [disabled]="loadingPdf"></button>
                </div>
                <div class="ui-g-12 ui-md-4 ui-lg-2">
                    <button pButton type="button" label="Enviar" class="ui-button-raised ui-button-icon"
                        icon="pi pi-envelope" (click)="enviarCorreo()"></button>
                </div>
                <div class="ui-g-12 ui-md-4 ui-lg-2">
                    <button pButton type="button" label="Anular" class="ui-button-raised ui-button-icon ui-button-danger"
                        icon="pi pi-times" (click)="anular()"></button>
                </div>                
            </div>
        </p-tabPanel>
        <p-tabPanel header="Ordenes de Compra Anuladas" leftIcon="pi pi-times">
            <div class="ui-g ui-fluid">
                <div class="ui-g-12 ui-md-12">
                    <p-table #dt2 [value]="ordenesAnuladas" selectionMode="single" [(selection)]="selectedOrdenAnulada" styleClass="ui-table-customers"
                    dataKey="id_ord_com" [loading]="loadingAnuladas" [totalRecords]="totalAnuladas" [rows]="rowsNumber" [paginator]="true"
                    [responsive]="true" autoLayout="true" [globalFilterFields]="['ord_com_cod','ord_com_fec','usuario.nom_col','proveedor.razsoc_prov','ord_com_prov_con','ord_com_prov_dir']">
                        <ng-template pTemplate="caption">
                            <div class="row justify-content-center align-items-center">
                                <div class="ui-g-12 ui-md-4">
                                    <label class="mx-2">Ordenes de Compra Anuladas - Total: {{ totalAnuladas }}</label>
                                </div>
                                <div class="ui-g-12 ui-md-4">
                                    
                                </div>
                                <div class="ui-g-12 ui-md-4"  style="text-align: right">
                                    <input type="text" pInputText placeholder="Busqueda" (input)="dt2.filterGlobal($event.target.value, 'contains')">
                                </div>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Codigo</th>
                                <th>Fecha</th>                                
                                <th>Usuario</th>
                                <th>Proveedor</th>
                                <th>Contacto</th>
                                <th>Direccion</th>                                
                                <th>Estado</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-orden>
                            <tr [pSelectableRow]="orden">
                                <td style="width:10em">{{ orden.ord_com_cod }}</td>                              
                                <td style="width:8em">{{ orden.ord_com_fec | date: 'yyyy-MM-dd' }}</td>                      
                                <td>{{ (orden.usuario) ? orden.usuario.nom_col : ''}}</td>
                                <td>{{ (orden.proveedor) ? orden.proveedor.razsoc_prov : ''}}</td>
                                <td>{{ orden.ord_com_prov_con }}</td>
                                <td>{{ orden.ord_com_prov_dir }}</td>
                                <td [ngClass]="{'send': orden.est_env === 1, 'nosend': orden.est_env === 0}">
                                    <span _ngcontent-qmg-c2="" class="ui-column-title">Envío:</span>
                                    {{ (orden.est_env === 1) ? 'Enviado' : 'No Enviado'}}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
                <div class="ui-g-12" *ngIf="showbar">
                    <p-progressBar mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
                </div>
                <div class="ui-g-12 ui-md-4 ui-lg-3">
                    <button pButton type="button" label="Generar PDF" class="ui-button-raised ui-button-icon"
                        icon="pi pi-file-pdf" (click)="generarPdfOrdenAnulada(1)" [disabled]="loadingPdf"></button>
                </div>                
            </div>
        </p-tabPanel>
    </p-tabView>
</div>

<p-dialog header="Datos del Correo" [(visible)]="displayModalEnviar" [modal]="true"
    [style]="{width: '32vw'}"
    [baseZIndex]="1000" [draggable]="false" [resizable]="true" (onHide)="cancelEnviar()">
    <!--Body-->
    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 0px 0px" *ngIf="selectedOrdenActiva">
        <div class="ui-grid-row">
            <div class="ui-grid-col-4">
                <p>Responsable:</p>
            </div>
            <div class="ui-grid-col-8">
                <input type="text" pInputText [(ngModel)]="userName" placeholder="Usuario" readonly />
            </div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4">
                <p>Proveedor:</p>
            </div>
            <div class="ui-grid-col-8">
                <input type="text" pInputText value="{{ (selectedOrdenActiva && selectedOrdenActiva.proveedor) ? selectedOrdenActiva.proveedor.razsoc_prov : '' }}" readonly />
            </div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4">
                <p>E-mail:</p>
            </div>
            <div class="ui-grid-col-8">
                <input type="text" pInputText value="{{ (selectedOrdenActiva && selectedOrdenActiva.ord_com_prov_ema) ? selectedOrdenActiva.ord_com_prov_ema : selectedOrdenActiva.proveedor.ema_prov }}" readonly />
            </div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4">
                <p>Asunto:</p>
            </div>
            <div class="ui-grid-col-8">
                <input pInputText type="text" [(ngModel)]="asunto" value="asunto" />
            </div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4">
                <p>Mensaje:</p>
            </div>
            <div class="ui-grid-col-8">
                <textarea rows="5" cols="30" [(ngModel)]="mensaje" value="mensaje" pInputTextarea autoResize="autoResize"></textarea>
            </div>
        </div>
    </div>
    <!--End Body-->
    <p-progressBar mode="indeterminate" [style]="{'height': '6px'}" *ngIf="showbarEmail"></p-progressBar>
    <p-footer>

        <button pButton type="submit" icon="pi pi-check-circle" label="Enviar" (click)="enviarPDF()"></button>
        <button pButton class="ui-button-danger" icon="pi pi-times" label="Cancelar"
            (click)="cancelEnviar()"></button>
    </p-footer>
</p-dialog>

<p-confirmDialog [style]="{width: '50vw'}" position="top" key="anularOrden" acceptLabel="Si" rejectLabel="No" baseZIndex="10001"></p-confirmDialog>