<div class="card shadow">
    <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-12">
            <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 0px 0px">
                <!-- <div class="ui-grid-row mb-0">
                    <div class="ui-grid-col-3"></div>
                    <div class="ui-grid-col-6 mb-0">
                        <label>Contraseña antigua: *</label>
                    </div>
                </div> -->
                <div class="ui-grid-row">
                    <div class="ui-grid-col-3"></div>
                    <div class="ui-grid-col-6">
                        <label>Contraseña antigua: *</label>
                        <input pInputText type="password" [(ngModel)]="old_password" placeholder="Requerido" class="ng-dirty ng-invalid"/>
                    </div>
                    <div class="ui-grid-col-3">
                        <p-message severity="error" text="Campo requerido"
                            *ngIf="submitted && !validOldPassword">
                        </p-message>
                    </div>
                </div>
                <!-- <div class="ui-grid-row mt-3 mb-0">
                    <div class="ui-grid-col-3"></div>
                    <div class="ui-grid-col-6">
                        <p>Contraseña nueva: *</p>
                    </div>
                </div> -->
                <div class="ui-grid-row ">
                    <div class="ui-grid-col-3"></div>
                    <div class="ui-grid-col-6">
                        <label>Contraseña nueva: *</label>
                        <input pInputText type="password" [(ngModel)]="new_password" placeholder="Requerido" class="ng-dirty ng-invalid"/>
                    </div>
                    <div class="ui-grid-col-3">
                        <p-message severity="error" text="Campo requerido"
                            *ngIf="submitted && !validNewPassword">
                        </p-message>
                    </div>
                </div>
                <!-- <div class="ui-grid-row mt-3 mb-0">
                    <div class="ui-grid-col-3"></div>
                    <div class="ui-grid-col-6">
                        <p>Verificar la nueva contraseña: *</p>
                    </div>
                </div> -->
                <div class="ui-grid-row mb-2">
                    <div class="ui-grid-col-3"></div>
                    <div class="ui-grid-col-6">
                        <label>Verificar la nueva contraseña: *</label>
                        <input pInputText type="password" [(ngModel)]="new_password_verf" placeholder="Requerido" class="ng-dirty ng-invalid"/>
                    </div>
                    <div class="ui-grid-col-3">
                        <p-message severity="error" text="Las contraseñas no coinciden"
                            *ngIf="!verifiPasswords">
                        </p-message>
                    </div>
                </div>
                <p-progressBar mode="indeterminate" [style]="{'height': '6px'}" *ngIf="showbar"></p-progressBar>
                <div class="ui-grid-row  mt-2 mb-0">
                    <div class="ui-grid-col-3"></div>
                    <div class="ui-grid-col-3">
                        <button type="button" pButton icon="pi pi-save" label="Cambiar Contraseña"
			                class="ui-button-primary" (click)="onSubmit()"></button>
                    </div>
                    <div class="ui-grid-col-3">
                        <button type="button" pButton icon="pi pi-times" label="Cancelar"
			                class="ui-button-danger" (click)="cancel()"></button>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>