.update {
    background-color: #FFFD86 !important;
    color: black !important;
}

.create {
    background-color: #7EDF6D !important;
    color: black !important;
}

.anul {
    background-color: #FFC56D !important;
    color: black !important;
}

.delete {
    background-color:#FF8686 !important;
    color: black !important;
}